{% extends 'teacher/base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

                <div class="col text-center m-3">
                    <a href="{{ path('teacher_profile_index') }}" class="btn btn-secondary btn-lg m-auto p-4"><img src="{{ asset('asset/media/edit-user-64.png') }}"
                                                                                                 alt=""><br>Modifier votre profil </a>
                </div>
                <div class="col text-center m-3">
                    <a href="{{ path('teacher_learning_rooms_new') }}" class="btn btn-secondary btn-lg m-auto p-4"><img src="{{ asset('asset/media/plus-5-64.png') }}"
                                                                                                   alt=""><br>Ajouter une Masterclass</a>
                </div>
                <div class="col text-center m-3">
                    <a href="{{ path('teacher_learning_rooms') }}" class="btn btn-secondary btn-lg m-auto p-4"><img
                                src="{{ asset('asset/media/laptop-3-64 (2).png') }}" alt=""><br>Show Learning Rooms </a>
                </div>

{% endblock %}